The following users and roles are seeded into the database for testing.
<ul>
    <li>sally@sally.com (Administrator)</li>
    <li>bob@bob.com (Moderator)</li>
    <li>fred@fred.com (no roles)</li>
    <li>abi@abi.com (multiple roles)</li>
</ul>
They all share the same password: "Passw0rd!"
