<div class="p-0 shadow-sm">
    <a href="https://stackoverflow.com/users/1492496/brian-parker" target="_blank"><img src=@("https://stackoverflow.com/users/flair/1492496.png"+query) width="208" height="58" alt="profile for Brian Parker at Stack Overflow, Q & A for professional and enthusiast programmers" title="profile for Brian Parker at Stack Overflow, Q & A for professional and enthusiast programmers"></a>
</div>