@page "/fetchdata"
@inherits BaseFetchData<WeatherForecast>
@attribute [Authorize]
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<ForecastsTable Forecasts="@data" />

<div class="text-danger">
    @message
</div>
